<div class="example-sidenav-content">
  <div class="col-12">
    <br>
    <br>
    <h1 style="font-weight: 800;">Edit Division Office</h1>
    <br>
      <form [formGroup]="myForm">
        <div class="row">
          <div class="col-4">
            <label class="text-dark" for="v_Division_Code">Division Code</label>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" formControlName="v_Division_Code" class="form-control"
                value="{{data.v_Division_Code}}">
            </mat-form-field>
          </div>
          <div class="col-4">
            <label class="text-dark" for="v_Select_Circle">Select Circle</label>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-select type="text" formControlName="v_Select_Circle" class="form-control"
                value="{{data.v_Select_Circle}}">
                <mat-option value="CE01">CE01</mat-option>
                <mat-option value="CE02">CE02</mat-option>
                <mat-option value="CE03">CE03</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-4">
            <label class="text-dark" for="v_Division_Name">Division Name</label>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" formControlName="v_Division_Name" class="form-control"
              [value]="data?.v_Division_Name">
            </mat-form-field>
          </div>

        </div>

        <div class="row">

          <div class="col-4">
            <label class="text-dark" for="v_Division_Place">Division Place</label>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" formControlName="v_Division_Place" class="form-control"
                value="{{data.v_Division_Place}}">
            </mat-form-field>
          </div>

          <div class="col-4">
            <label class="text-dark" for="v_Address">Address</label>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" formControlName="v_Address" value="{{data.v_Address}}" class="form-control">
            </mat-form-field>
          </div>

          <div class="col-4">
            <label class="text-dark" for="n_Pincode">Pincode</label>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" formControlName="n_Pincode" value="{{data.n_Pincode}}" class="form-control">
            </mat-form-field>
          </div>

        </div>

        <div class="row">
          <div class="col-4">
            <label class="text-dark" for="v_Email">Email</label>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" formControlName="v_Email" value="{{data.v_Email}}" class="form-control">
            </mat-form-field>
          </div>

          <div class="col-4">
            <label class="text-dark" for="n_Phone">Phone</label>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" formControlName="n_Phone" value="{{data.n_Phone}}" class="form-control">
            </mat-form-field>
          </div>
        </div>
      </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="display: flex; justify-content: center;">
      <button mat-raised-button style="color: #470A3C; font-weight: bold;width: 150px;" routerLink="/home-division">Discard</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="#470A3C" style="background-color:#470A3C;color: white; font-weight: bold;width: 150px;" (click)="saveDivisionsOffice()">Update</button>
    </div>
  </div>
</div>
